/* Cards Section */
.cards-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -20px;
}
.card {
    width: 100%;
    margin: 32px 0 0 20px;
    @media (min-width: 480px) {
        width: calc(50% - 20px);
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    &__link {
        color: $black-color;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    &__description {
        margin: 0 0 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__image {
        border-radius: $border-radius;
        overflow: hidden;
        a {
            display: block;
        }
        img {
            border-radius: $border-radius;
            width: 100%;
        }
    }
}