$font-base: 14px;
$font-family: 'Roboto', sans-serif;
$white-color: #fff;
$black-color: #1F2024;
$primary-color: #EF3B3B;
$dark-primary-color: #BC2B2B;
$base-color: #5F6265;
$grey-color: #EDEDED;
$border-radius: 16px;