<header id="header" class="header" data-animation="fade">
    <div class="header__holder">
        <strong class="logo">
            <a href="#"><img src="images/logo.svg" alt="Test HTML"/></a>
        </strong>
        <nav class="nav-bar">

            <div class="nav-bar__holder">
                <ul class="main-nav">
                    <li class="main-nav__item main-nav__item_active"><a class="main-nav__link" href="#">Популярні авто</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">Автосалони</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">Тест-драйви</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">Скоро у продажу</a></li>
                </ul>
                <a href="#" class="login-link">Увійти</a>
            </div>
        </nav>
        <a href="#" class="open-menu" id="open_menu">Меню</a>
        <a href="#"  class="close-menu" id="close_menu">Закрити меню</a>
    </div>
</header><!-- header -->
